@model List<ECommerceWebSite.Models.Products>

@foreach (var item in Model)
{
    <div class="col-sm-4">
        <div class="product-image-wrapper">
            <div class="single-products">
                <div class="productinfo text-center">

                    @if (item.ProductImage != null && item.ProductImage != "")
                    {
                            <div id="ProductImage" style="background-image:url(@item.ProductImage);background-position:center;background-size:contain;background-repeat:no-repeat;width:288px;height:350px;">

                            </div>
                    }

                <h2>@item.ProductPrice ₺</h2>
                    <p>@item.ProductName</p>
                    <a href="/Product/ProductDetail/@item.ProductID" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Ürünü İncele</a>
                </div>
                <div class="product-overlay">
                    <div class="overlay-content">
                        <h2>@item.ProductPrice ₺ </h2>
                        <p>@item.ProductName</p>
                        <a href="/Product/ProductDetail/@item.ProductID" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Ürünü İncele</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
}

